<!DOCTYPE html>
<html>
<head>
    <title>Explainable Artificial Intelligence</title>
    <meta property="og:title" content="Women in Tech Oslo Summit">
    <meta property="og:image" content="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/80030133_2523998837832392_6297456528874012672_o.jpg?_nc_cat=101&_nc_ohc=xJFOhpyZ1w4AX-gOuV-&_nc_ht=scontent.fosl1-1.fna&oh=d8eb7bc64feb9f69ff3ce2d85354dcf7&oe=5ED9A343">
    <meta name="description" content="An all-day event, full of inspirational, technical and practical workshops.">
    <meta name="author" content="Code: Marina Goto, marina.webdev@gmail.com | Design: Marion Murvine, https://dribbble.com/MARIONMURVINE">


    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Header / Home-->
<header class="page black">
    <div class="flexWorkshop full-height">
        <div class="half pink">
            <div class="level">
                <p class="circle">Pre intermediate</p>
            </div>
            <h4 class="titleWorkshop">“Explainable Artificial Intelligence (XAI)”</h4>
            <p>
                As the use of “black box” algorithms such as deep learning increases rapidly, several challenges related to ethics and law arise. Explainable Artificial Intelligence (XAI) addresses these issues by creating understandable explanations of how and why AI systems arrive at their decisions, and we will try out some of these methods during this workshop.
            </p>
            <div class="requirements">
                <p>
                    Requirements:
                </p>
                <ol>
                    <li>Laptop & charger</li>
                    <li>Download and install Anaconda from <a class="underline" href="https://www.anaconda.com/distribution/">anaconda.com</a></li>
                </ol>
            </div>
            <p>Duration 15:00 - 17:00</p>

        </div>
        <div class="half black padding-bottom">
            <div class="speakerBox">
                <a href=href="https://www.linkedin.com/in/alisemidtfjord/" class="bigName">Alise </br> Midtfjord</a>
                <div class="speakerImg alise"></div>
            </div>
         <p>
             Alise has a master’s in physics and is currently doing a PhD in machine learning at the University of Oslo. Here she is working on modelling and analysis of multidimensional high-resolution environmental data with application to airport runway condition management. Alise has previous experience working with technology consulting at Accenture.
            </p>
        </div>
    </div>
</header>

</body>
</html>
