<!DOCTYPE html>
<html>
<head>
    <title>Women in Tech Oslo Summit</title>
    <meta property="og:title" content="Women in Tech Oslo Summit">
    <meta property="og:image" content="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/80030133_2523998837832392_6297456528874012672_o.jpg?_nc_cat=101&_nc_ohc=xJFOhpyZ1w4AX-gOuV-&_nc_ht=scontent.fosl1-1.fna&oh=d8eb7bc64feb9f69ff3ce2d85354dcf7&oe=5ED9A343">
    <meta name="description" content="An all-day event, full of inspirational, technical and practical workshops.">
    <meta name="author" content="Marina Goto, marina.webdev@gmail.com">


    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Header / Home-->
<header class="page orange" id="home">
    <div class="container-padding">
        <div class="top-bar">
            <div class="witLogo"></div>
            <ul>
                <li>08</li><li>02</li><li>20</li>
            </ul>
        </div>
        <div class="unity-container">
            <div class="unity"></div>
        </div>
        </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="nav">
        <a href="#program" style="width:25%">Program</a>
        <a href="#sponsors" style="width:25%">/ Sponsors</a>
        <a href="#about" style="width:25%">/ About us</a>
</div>

<!-- Program -->
<div class="page flex expandable" id="program">
    <div class="container-padding full-width black noneSidePaddingTablet">
        <h3 class="sectionTitle paddingTablet">Program</h3>
        <div class="program-table">
            <div class="raw paddingTablet">
                <p class="cell"> 09:30 </p>
                <p>Registration</p>
            </div>
            <div class="raw paddingTablet">
                <p class="cell">10:30</p>
                <p>Welcome from Women in Tech Oslo Team</p>
            </div>
            <div class="raw paddingTablet">
                <p class="cell">10:45</p>
                <p>Keynote: Monica Tvedt, Core Tech Agency Director at Sopra Steria</p>
            </div>
            <div class="raw paddingTablet">
                <p class="cell">11:15</p>
                <p>Break</p>
            </div>

            <!--            Pick a track 1                     -->
            <div class="raw paddingTablet backgroundTablet">
                <div class="cell">
                    <p>11:30</p>
                    <div class="lunch"></div>

                </div>
                <div class="flex">

                    <div class="track">
                        <div class="topTrackBox paddingBotTablet">
                            <p class="borderBottom">Machine Learning</p>
                            <span class="part">PART 1</span>
                            <div class="titleBox">
                                <a class="underlineTitle">Intro to Natural Language Processing and Topic Modelling</a>
                            </div>
                            <p>with <a href="https://www.linkedin.com/in/maja-zofia-kiszka/" class="speakerName">Maja Kisszka</a></p>
                        </div>
                        <div class="bottomTrackBox">
                            <span class="part">PART 2</span>
                            <div class="titleBox">
                                <a class="underlineTitle">Explainable Artificial Intelligence (XAI)</a>
                            </div>
                            <p>with <a href="https://www.linkedin.com/in/alisemidtfjord/" class="speakerName">Alise Midtfjord</a></p>
                        </div>
                    </div>

                    <div class="track">
                        <div class="topTrackBox">
                            <p class="borderBottom">Design</p>
                            <span class="part">PART 1</span>
                            <div class="titleBox">
                                <a class="underlineTitle">UX: Real-life design challenges</a>
                            </div>
                            <p class="noneTablet">with <a href="https://www.linkedin.com/in/alina-beschetnikova-b35679a2/" class="speakerName">Alina Bezchotnikova</a></p>
                        </div>
                        <div class="bottomTrackBox">
                            <span class="part">PART 2</span>
                            <div class="titleBox">
                                <a class="underlineTitle">Hands on design thinking</a>
                            </div>
                            <p>with <a  href="https://www.linkedin.com/in/alina-beschetnikova-b35679a2/" class="speakerName">Alina Bezchotnikova</a></p>
                        </div>
                    </div>

                    <div class="track">
                        <div class="topTrackBox">
                            <p class="borderBottom">Coding</p>
                            <span class="part">PART 1</span>
                            <div class="titleBox">
                                <a class="underlineTitle">Beginner pair-programming</a>
                            </div>
                            <p class="noneTablet">with <a href="https://www.linkedin.com/in/johannesbrodwall/" class="speakerName">Johannes Brodwall</a></p>
                        </div>
                        <div class="bottomTrackBox">
                            <span class="part">PART 2</span>
                            <div class="titleBox">
                                <a class="underlineTitle">Advanced pair-programming</a>
                            </div>
                            <p>with <a href="https://www.linkedin.com/in/johannesbrodwall/" class="speakerName">Johannes Brodwall</a></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="raw paddingTablet">
                <p class="cell">17:00</p>
                <p>Break</p>
            </div>
            <div class="raw paddingTablet">
                <p class="cell">17:15</p>
                <p>WIT Award + Closing</p>
            </div>
            <div class="raw paddingTablet">
                <p class="cell">19:00</p>
                <p>Afterparty at Brygg</p>
            </div>
            </div>
    </div>
</div>


<!-- Tickets Section -->
<div class="container-padding banner">
    <h2>
        Whilst you’re waiting for a workshop to begin, aim to say hi to at least one person you haven’t met before.
    </h2>
</div>


<!-- Sponsors -->
<div class="page flex" id="sponsors">
    <div class="half black">
        <h3 class="sectionTitle">Our sponsors</h3>
        <div>
            <p>
                As a non-profit organisation we have relied on our sponsors' commitment to enable women in the tech industry.
                We gratefully appreciate their support in building the WIT Summit 2020.
                Representatives from some of our sponsors will be at the event if you would like to meet with them.
            </p>
        </div>
    </div>
    <div class="half zero-padding-top-bottom-mobile orange">
        <div class="sponsor">
            <div class="sponsor-flex">
                <div class="sponsorImg soprasteria"></div>
                <div class="sponsorImg shortcut"></div>
                <div class="sponsorImg uppercase"></div>
                <div class="sponsorImg tapad"></div>
            </div>
            <div class="sponsor-flex">
                <div class="sponsorImg soprasteria"></div>
                <div class="sponsorImg shortcut"></div>
                <div class="sponsorImg uppercase"></div>
                <div class="sponsorImg tapad"></div>
            </div>
            <div class="sponsor-flex">
                <div class="sponsorImg soprasteria"></div>
                <div class="sponsorImg shortcut"></div>
                <div class="sponsorImg uppercase"></div>
                <div class="sponsorImg tapad"></div>
            </div>
          <!--  <div class="sponsor-flex">
                <div class="sponsorImg scienta"></div>
                <div class="sponsorImg paranoia"></div>
                <div class="sponsorImg pepsimax"></div>
                <div class="sponsorImg lays"></div>
            </div>-->
        </div>
    </div>
</div>

<!-- Volunteers -->
<div class="page flex">
    <div class="half flex flex-direction-column violet order2">
        <div class="img volunteer"></div>
        <div class="paddingTop">
            <h4>“We stand for unity across diversity.”</h4>
            <span>WIT Summit 2020</span>
        </div>
    </div>
    <div class="half black">
        <h3 class="sectionTitle">You want to volunteer?</h3>
        <div>
            <p>
                We’re always looking for people to share their skills with the community. Do you think you have something that can help others progress in their career? Whether you are a designer, a developer, an architecture or a data scientist, we want to hear from you!
            <p/>
            <p class="paddingTop">
                There are currently options to be a speaker, lead a workshop, be a member of the Women in Tech Oslo Team or simply provide support during a workshop.
            </p>
            <p class="paddingTop">
                Drop us an email with a little info about yourself and what you would like to contribute with.
            </p>
            <a href="mailto:admin@witoslo.com" class="email">
                admin@witoslo.com
            </a>
        </div>
    </div>
</div>


<!-- About -->
<div class="page flex" id="about">
    <div class="half black">
        <h3 class="sectionTitle">About us</h3>
        <div>
            <p>
                Women in Tech Oslo is a non-profit organisation that provides hands on tech workshops.
                Our aim is to build a community where women can strength their skills, decide if a career in tech is for them and make steps up the tech career ladder.
            </p>
            <p class="paddingTop">
                Each workshop leaves participates with new knowledge, applicable skills and something to take home for their portfolio.
                The goal of our events is to create confidence that anyone can learn programming. That first “aha, I can do that!” moment is crucial for women to choosing the technological pathway. We want you to feel excited, to feel accomplished.
            </p>
            <p class="paddingTop">
                We stand for unity across diversity.
            </p>
        </div>
    </div>
    <div class="half flex flex-direction-column pink">
        <div class="img team"></div>
        <div class="paddingTop">
            <h4>“Let’s invent the future together.”</h4>
            <span>WIT Summit 2020</span>
        </div>
    </div>

</div>


<!-- Bottom Section -->
<div class="container-padding banner orange clip">
    <h2>
        / We have monthly events
        <br>
        make sure to follow us
    </h2>
    <div class="contactBlock">
        <div class="contactLinks">
            <a class="underlineTablet" href="https://www.facebook.com/WomenITech" >Facebook</a>
            <a class="underlineTablet" href="https://www.meetup.com/WomenITech" >Meetup</a>
            <a class="underlineTablet" href="https://www.instagram.com/witoslo/">Instagram</a>
            <a class="underlineTablet" href="https://twitter.com/wit_oslo">Twitter</a>
        </div>
        <div class="line"></div>
    </div>
</div>


</body>
</html>
