<!DOCTYPE html>
<html>
<title>Women in Tech Oslo Summit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<!-- Header / Home-->
<header class="page orange" id="home">
    <div class="container-padding">
        <div class="top-bar">
            <img id="witLogo" style="width:10%; min-height: 50px">
            <ul>
                <li>08</li><li>02</li><li>20</li>
            </ul>
        </div>
        <div class="unity-container">
            <img id="unity" style="width:90%; max-height: 60vh">
        </div>
    </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="nav">
        <a href="#program" style="width:25%">Program</a>
        <a href="#sponsors" style="width:25%">/ Sponsors</a>
        <a href="#about" style="width:25%">/ About us</a>
</div>

<!-- About -->
<div class="page flex" id="program">
    <div class="half black">
        <h2>Program</h2>
        <div class="program-table">
            <div class="raw">
                <div class="cell">10:30</div>
                <div>Opening event</div>
            </div>
            <div class="raw">
                <div class="cell">11:15</div>
                <div>Break</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">11:30</div>
                <div>Track 1: Machine Learning</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">11:30</div>
                <div>Track 2: Design & Product Dev.</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">11:30</div>
                <div>Track 3: Coding</div>
            </div>
            <div class="raw">
                <div class="cell">14:00</div>
                <div>Lunch</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">15:00</div>
                <div>Track 1: Machine Learning</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">15:00</div>
                <div>Track 2: Design & Product Dev.</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">15:00</div>
                <div>Track 3: Coding</div>
            </div>
            <div class="raw small-padding">
                <div class="cell">17:00</div>
                <div>Break</div>
            </div>
            <div class="raw">
                <div class="cell">17:15</div>
                <div>Eding event</div>
            </div>
            </div>
    </div>
    <div class="half flex flex-direction-column pink">
        <img class="speaker-img" id="speaker">
        <p>“Beginning with React Native”</p>
        <span>with Alex Bai</span>
    </div>
</div>


<!-- Tickets Section -->
<div class="container-padding banner">
    <h2>
        Save yourself a seat
    <br>
        while you can
    </h2>
</div>


<!-- Sponsors -->
<div class="page flex" id="sponsors">
    <div class="half black">
        <h2>Our sponsors</h2>

        <div>
            <p>
                Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            </p>
            <p>
                Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id.
            </p>
        </div>
    </div>
    <div class="half flex flex-direction-column orange">
    </div>
</div>

<!-- About -->
<div class="page flex" id="about">
    <div class="half flex flex-direction-column violet">
        <img class="speaker-img" id="girls">
        <p>“Let’s invent the future together”</p>
        <span>from All of us </span>
    </div>
    <div class="half black">
        <h2>You want to volunteer?</h2>
        <div>
            <p>
                Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
            </p>
            <p>
                Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id.
            </p>
        </div>
    </div>
</div>


<!-- Tickets Section -->
<div class="container-padding banner">
    <h2>
        Get your ticket
        <br>
        here
    </h2>
</div>


<!-- Bottom Section -->
<div class="container-padding banner black clip">
    <h2>
        / We have monthly events make sure to follow us
        <br>
        sure to follow us
    </h2>
</div>

</body>
</html>
