<!DOCTYPE html>
<html>
<title>Women in Tech Oslo Summit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

<!-- Header / Home-->
<header class="page orange" id="home">
    <div class="container-padding">
        <div class="top-bar">
            <img id="witLogo" style="width:13%; min-height: 50px">
            <ul>
                <li>08</li><li>02</li><li>20</li>
            </ul>
        </div>
        <div class="unity-container">
            <img id="unity" class="unity-img">
        </div>
    </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="nav">
        <a href="#program" style="width:25%">Program</a>
        <a href="#sponsors" style="width:25%">/ Sponsors</a>
        <a href="#about" style="width:25%">/ About us</a>
</div>

<!-- Program -->
<div class="page flex expandable" id="program">
    <div class="container-padding full-width black">
        <h3 class="sectionTitle">Program</h3>
        <div class="program-table">
            <div class="raw">
                <p class="cell"> 09:30 </p>
                <p>Registration</p>
            </div>
            <div class="raw">
                <p class="cell">10:30</p>
                <p>Welcoming from the Women in Tech Oslo team</p>
            </div>
            <div class="raw">
                <p class="cell">10:45</p>
                <p>Keynote: Monica Tvedt, Core Tech Agency Director at Sopra Steria</p>
            </div>
            <div class="raw">
                <p class="cell">11:15</p>
                <p class="italic">Break</p>
            </div>

            <!--            Pick a track 1                     -->
            <div class="raw small-padding border">
                <p class="cell">11:30</p>
                <div>
                    <input type="checkbox" id="mod1">
                    <label id="mod1Label" for="mod1">Pick a track  </label>
                    <div class="menu-content track-padding">
                        <div class="collapsible-menu">
                            <input type="checkbox" id="ml1">
                            <label class="track" for="ml1">Machine Learning</label>
                            <div class="menu-content">
                                <div class="flex pink track-box">
                                        <div class="left">
                                            <div class="level">Beginner</div>
                                            <h5 class="workshopTitle">Machine Learning | Intro to Natural Language Processing and Topic Modelling</h5>
                                            <div class="speakerNameSmall">with <i>Maja Kiszka</i></div>
                                            <p>
                                                Ability of computers to understand human speech and written text is an important and complex AI task.
                                                In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers,
                                                text is an input to the algorithm.
                                            </p>
                                            <p>
                                                We will cover challenges from linguistic perspective and we will go step-by-step
                                                through data preprocessing stages of text mining.
                                                In the end we will get soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
                                            </p>
                                            <div class="req">Requirements: knowledge of Python</div>
                                        </div>
                                        <div class="right black">
                                            <div class="speaker-box">
                                                <h3 class="speakerName">Maja <br/> Kisszka</h3>
                                                <div class="speakerImg maja"></div>
                                            </div>
                                            <p>
                                                Maja is an Application Consultant working in Artificial Intelligence department of Capgemini.
                                                In her work she focuses on tasks related to Natural Language Processing.
                                                Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-menu">
                            <input type="checkbox" id="design1">
                            <label class="track" for="design1">Design</label>
                            <div class="menu-content">
                                <div class="flex pink track-box">
                                    <div class="left">
                                        <p class="level">Beginner</p>
                                        <h5 class="workshopTitle">Machine Learning | Intro to Natural Language Processing and Topic Modelling</h5>
                                        <p class="speakerNameSmall">with <i>Maja Kiszka</i></p>
                                        <p>
                                            Ability of computers to understand human speech and written text is an important and complex AI task.
                                            In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers,
                                            text is an input to the algorithm.
                                        </p>
                                        <p>
                                            We will cover challenges from linguistic perspective and we will go step-by-step
                                            through data preprocessing stages of text mining.
                                            In the end we will get soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
                                        </p>
                                        <div class="req">Requirements: knowledge of Python</div>
                                    </div>
                                    <div class="right black">
                                        <div class="speaker-box">
                                            <p class="speakerName">Maja <br/> Kisszka</p>
                                            <div class="maja"></div>
                                        </div>
                                        <p>
                                            Maja is an Application Consultant working in Artificial Intelligence department of Capgemini.
                                            In her work she focuses on tasks related to Natural Language Processing.
                                            Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-menu">
                            <input type="checkbox" id="coding1">
                            <label class="track" for="coding1">Coding</label>
                            <div class="menu-content">
                                <div class="flex pink track-box">
                                    <div class="left">
                                        <p class="level">Beginner</p>
                                        <h5 class="workshopTitle">Machine Learning | Intro to Natural Language Processing and Topic Modelling</h5>
                                        <p class="speakerNameSmall">with <i>Maja Kiszka</i></p>
                                        <p>
                                            Ability of computers to understand human speech and written text is an important and complex AI task.
                                            In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers,
                                            text is an input to the algorithm.
                                        </p>
                                        <p>
                                            We will cover challenges from linguistic perspective and we will go step-by-step
                                            through data preprocessing stages of text mining.
                                            In the end we will get soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
                                        </p>
                                        <div class="req">Requirements: knowledge of Python</div>
                                    </div>
                                    <div class="right black">
                                        <div class="speaker-box">
                                            <p class="speakerName">Maja <br/> Kisszka</p>
                                            <div class="maja"></div>
                                        </div>
                                        <p>
                                            Maja is an Application Consultant working in Artificial Intelligence department of Capgemini.
                                            In her work she focuses on tasks related to Natural Language Processing.
                                            Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="raw zero-padding">
                <p class="cell">14:00</p>
                <p class="italic">Lunch</p>
            </div>

            <!--            Pick a track 2                     -->
            <div class="raw small-padding border">
                <p class="cell">15:00</p>
                <div>
                    <input type="checkbox" id="mod2">
                    <label id="mod2Label" for="mod2">Pick a track  </label>
                    <div class="menu-content track-padding">

                        <div class="collapsible-menu">
                            <input type="checkbox" id="ml2">
                            <label class="track" for="ml2">Machine Learning</label>
                            <div class="menu-content">
                                <div class="flex pink track-box">
                                    <div class="left">
                                        <p class="level">Beginner</p>
                                        <h5 class="workshopTitle">Machine Learning | Intro to Natural Language Processing and Topic Modelling</h5>
                                        <div class="speakerNameSmall">with <i>Maja Kiszka</i></div>
                                        <p>
                                            Ability of computers to understand human speech and written text is an important and complex AI task.
                                            In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers,
                                            text is an input to the algorithm.
                                        </p>
                                        <p>
                                            We will cover challenges from linguistic perspective and we will go step-by-step
                                            through data preprocessing stages of text mining.
                                            In the end we will get soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
                                        </p>
                                        <div class="req">Requirements: knowledge of Python</div>
                                    </div>
                                    <div class="right black">
                                        <div class="speaker-box">
                                            <h2 class="speakerName">Maja <br/> Kisszka</h2>
                                            <div class="maja"></div>
                                        </div>
                                        <p>
                                            Maja is an Application Consultant working in Artificial Intelligence department of Capgemini.
                                            In her work she focuses on tasks related to Natural Language Processing.
                                            Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-menu">
                            <input type="checkbox" id="design2">
                            <label class="track" for="design2">Design</label>
                            <div class="menu-content">
                                <div class="flex pink track-box">
                                    <div class="left">
                                        <div class="level">Beginner</div>
                                        <h5 class="workshopTitle">Machine Learning | Intro to Natural Language Processing and Topic Modelling</h5>
                                        <div class="speakerNameSmall">with <i>Maja Kiszka</i></div>
                                        <p>
                                            Ability of computers to understand human speech and written text is an important and complex AI task.
                                            In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers,
                                            text is an input to the algorithm.
                                        </p>
                                        <p>
                                            We will cover challenges from linguistic perspective and we will go step-by-step
                                            through data preprocessing stages of text mining.
                                            In the end we will get soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
                                        </p>
                                        <div class="req">Requirements: knowledge of Python</div>
                                    </div>
                                    <div class="right black">
                                        <div class="speaker-box">
                                            <p class="speakerName">Maja <br/> Kisszka</p>
                                            <div class="maja"></div>
                                        </div>
                                        <p>
                                            Maja is an Application Consultant working in Artificial Intelligence department of Capgemini.
                                            In her work she focuses on tasks related to Natural Language Processing.
                                            Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-menu">
                            <input type="checkbox" id="coding2">
                            <label class="track" for="coding2">Coding</label>
                            <div class="menu-content">
                                <div class="flex pink track-box">
                                    <div class="left">
                                        <div class="level">Beginner</div>
                                        <h5 class="workshopTitle">Machine Learning | Intro to Natural Language Processing and Topic Modelling</h5>
                                        <div class="speakerNameSmall">with <i>Maja Kiszka</i></div>
                                        <p>
                                            Ability of computers to understand human speech and written text is an important and complex AI task.
                                            In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers,
                                            text is an input to the algorithm.
                                        </p>
                                        <p>
                                            We will cover challenges from linguistic perspective and we will go step-by-step
                                            through data preprocessing stages of text mining.
                                            In the end we will get soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
                                        </p>
                                        <div class="req">Requirements: knowledge of Python</div>
                                    </div>
                                    <div class="right black">
                                        <div class="speaker-box">
                                            <p class="speakerName">Maja <br/> Kisszka</p>
                                            <div class="maja"></div>
                                        </div>
                                        <p>
                                            Maja is an Application Consultant working in Artificial Intelligence department of Capgemini.
                                            In her work she focuses on tasks related to Natural Language Processing.
                                            Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="raw small-padding">
                <p class="cell">17:00</p>
                <p class="italic">Break</p>
            </div>
            <div class="raw">
                <p class="cell">17:15</p>
                <p>Closing and award ceremony</p>
            </div>
            <div class="raw">
                <p class="cell">19:00</p>
                <p>Afterparty</p>
            </div>
            </div>
    </div>
</div>


<!-- Tickets Section -->
<div class="container-padding banner">
    <h2>
        “Let’s share tech skills
        in a woman centered
        environment.”
    </h2>
</div>


<!-- Sponsors -->
<div class="page flex" id="sponsors">
    <div class="half black">
        <h3 class="sectionTitle">Our sponsors</h3>

        <div>
            <p>
                As a non-profit organisation we have relied on our sponsors' commitment to enable women in the tech industry.
                We gratefully appreciate their support in building the WIT Summit 2020.
                Representatives from some of our sponsors will be at the event if you would like to meet with them.
            </p>
        </div>
    </div>
    <div class="half flex flex-direction-column orange">
    </div>
</div>

<!-- Volunteers -->
<div class="page flex">
    <div class="half flex flex-direction-column violet">
        <div class="img volunteer"></div>
        <div class="note">
            <p>“We stand for unity across diversity.”</p>
            <span>WIT Summit 2020</span>
        </div>
    </div>
    <div class="half black">
        <h2 class="sectionTitle">You want to volunteer?</h2>
        <div>
            <p>
                We’re always looking for people to share their skills with the community. Do you think you have something that can help others progress in their career? Whether you are a designer, a developer, an architecture or a data scientist, we want to hear from you!
                <br/>
                There are currently options to be a speaker, lead a workshop, be a member of the Women in Tech Oslo Team or simply provide support during a workshop.
            </p>
        </div>
    </div>
</div>


<!-- About -->
<div class="page flex" id="about">
    <div class="half black">
        <h3 class="sectionTitle">About us</h3>
        <div>
            <p>
                Women in Tech Oslo (#witoslo) is a non-profit organisation that provides hands on tech workshops.
                Our aim is to build a community where women can strength their skills, decide if a career in tech is for them and make steps up the tech career ladder.
                We welcome men to our space in acknowledging that if women are to succeed in this arena, men are our ally and are welcomed in joining this journey with us.
            </p>
            <p>
                Each workshop leaves participates with new knowledge, applicable skills and something to take home either for their GitHub or their portfolio.
                The goal of our events is to create confidence that anyone can learn programming. That first “aha, I can do that!” moment is crucial for women to choosing the technological pathway. We want you to feel excited, to feel accomplished.
            </p>
            <p>
                We stand for unity across diversity.
            </p>
        </div>
    </div>
    <div class="half flex flex-direction-column pink">
        <div class="img team"></div>
        <div class="note">
            <p>“Let’s invent the future together.”</p>
            <span>WIT Summit 2020</span>
        </div>
    </div>

</div>


<!-- Bottom Section -->
<div class="container-padding banner orange clip">
    <h2>
        / We have monthly events make sure to follow us
        <br>
        sure to follow us
    </h2>
</div>

</body>
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</html>
