<!DOCTYPE html>
<html>
<head>
    <title>UX: Real-Life Design Challenges</title>
    <meta property="og:title" content="Women in Tech Oslo Summit">
    <meta property="og:image" content="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/80030133_2523998837832392_6297456528874012672_o.jpg?_nc_cat=101&_nc_ohc=xJFOhpyZ1w4AX-gOuV-&_nc_ht=scontent.fosl1-1.fna&oh=d8eb7bc64feb9f69ff3ce2d85354dcf7&oe=5ED9A343">
    <meta name="description" content="An all-day event, full of inspirational, technical and practical workshops.">
    <meta name="author"
          content="Women in Tech Oslo team members | Code: Marina Goto, marina.webdev@gmail.com | Design: Marion Murvine, https://dribbble.com/MARIONMURVINE | Content: Alice Parker, https://www.linkedin.com/in/aliceparker/ | Architecture: Snezana https://github.com/SneX13 | Photography: Ingrid-Alice Bløtekjær">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157913483-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157913483-1');
    </script>

</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Header / Home-->
<header class="page black">
    <div class="flexWorkshop full-height">
        <div class="halfWorkshop pink">
            <div class="level">
                <p class="circle">Beginner to intermediate</p>
            </div>
            <h4 class="titleWorkshop">“Hands on Design thinking | part 1”</h4>
            <p>
                Get to know the methodology and how to apply that to work tasks. We will go through 5 steps of design thinking and present our works.
                In part one we are going to get to know the methodology, learn about primary and secondary research.
            <p>Agenda:</p>
            <ol>
                <li>Intro and overview | Introduce the goals and plan for the workshop, conduct exercises and set the creativity mood!
                </li>
                <li>Design thinking Concept | An introduction and overview to the Design Thinking approach, introduce the challenge for the workshop
                </li>
                <li>Empathy | Practice interviewing skills. On this step we are going to share insights and create Empathy Map
                </li>
                <li>Define | Define phase concepts and frame problem to be able to develop problem-statements
                </li>
                <li>Wrap-up</li>
            </ol>
            <div class="requirements">
                <p>
                    Requirements:
                </p>
                <ol>
                    <li>Bring your laptop with Powerpoint/Keynote/Figma and creativity!</li>
                    <li>Paper, pens-pencils</li>
                    <li>No knowledge pre-required</li>
                </ol>
            </div>
            <p>Duration 11:30 - 14:00</p>

        </div>
        <div class="halfWorkshop black padding-bottom">
            <div class="speakerBox">
                <a href="https://www.linkedin.com/in/alina-beschetnikova-b35679a2/" class="bigName">Alina</a>
                <div class="speakerImg alina"></div>
            </div>
         <p>
             Alina is a designer with 12 years experience in the area. She is currently working with the Design System at ix3 Aker solutions. Her scientific background (a Master’s in Statistics and a PhD in Social Communications) allows her to think about user behavior in a scientific way.
         </p>
            <p>
             She also has several published articles in the area of gamification, game design, user engagement, human factors psychology, and social communications and current ways of using video games to solve different business tasks.
            </p>
        </div>
    </div>
</header>

</body>
</html>
