<!DOCTYPE html>
<html>
<head>
    <title>Intro pair-programming</title>
    <meta property="og:title" content="Women in Tech Oslo Summit">
    <meta property="og:image" content="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/80030133_2523998837832392_6297456528874012672_o.jpg?_nc_cat=101&_nc_ohc=xJFOhpyZ1w4AX-gOuV-&_nc_ht=scontent.fosl1-1.fna&oh=d8eb7bc64feb9f69ff3ce2d85354dcf7&oe=5ED9A343">
    <meta name="description" content="An all-day event, full of inspirational, technical and practical workshops.">
    <meta name="author"
          content="Women in Tech Oslo team members | Code: Marina Goto, marina.webdev@gmail.com | Design: Marion Murvine, https://dribbble.com/MARIONMURVINE | Content: Alice Parker, https://www.linkedin.com/in/aliceparker/ | Architecture: Snezana https://github.com/SneX13 | Photography: Ingrid-Alice Bløtekjær">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157913483-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157913483-1');
    </script>

</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Header / Home-->
<header class="page black">
    <div class="flexWorkshop full-height">
        <div class="halfWorkshop pink">
            <div class="level">
                <p class="circle">Beginner</p>
            </div>
            <h4 class="titleWorkshop">“Intro to pair-programming, Test-Driven Development and Continuous Refactoring”</h4>
            <p>
                A coding Dojo is a fun and social way to become a better programmer. In the workshop you will get to try out pair-programming, test-driven development and continuous refactoring for yourself and you get lots of recommendations on how to improve your coding and testing. You will need to bring your own computer with a development environment of your choice.
            </p>
            <p>Agenda:</p>
            <ol>
                <li>Live Demo of Test Driven Development. We will code Minesweeper in Java following the principles of pair programming and TDD. (Between: 30-45min)
                </li>
                <li>Group discussion about mastering the code & working together</li>
                <li>Hands-on exercise: Leap Year where we will polish TDD rhythm and pair programming manners.</li>
                <li>Sum up: How do we learn? How do we code? Code ethics.</li>
            </ol>
            <div class="requirements">
                <p>
                    Requirements:
                </p>
                <ol>
                    <li>Laptop & charger</li>
                    <li>Install Java from <a class="underline" href="https://www.java.com/en/">java.com</a>.
                        Please try to install the newest Java version, but not Java 14 since it is still in beta.
                    </li>
                    <li>The code editor you feel comfortable with</li>
                </ol>
            </div>
            <p>Note: Our main language will be Java, but if you prefer to code in C#, it is also okay.
                You just need to pair with another C# enthusiast</p>
            <p>Duration 11:30 - 14:00</p>

        </div>
        <div class="halfWorkshop black padding-bottom">
            <div class="speakerBox">
                <a href="https://www.linkedin.com/in/johannesbrodwall/" class="bigName">Johannes </br> Brodwall</a>
                <div class="speakerImg johannes"></div>
            </div>
         <p>
             Johannes is an experienced coding coach who will guide you through a few hours of programming that will transform your understanding of your craft and yourself as a programmer.             </p>
        </div>
    </div>
</header>

</body>
</html>
