<!DOCTYPE html>
<html>
<head>
    <title>Intro to Natural Language Processing</title>
    <meta property="og:title" content="Women in Tech Oslo Summit">
    <meta property="og:image" content="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/80030133_2523998837832392_6297456528874012672_o.jpg?_nc_cat=101&_nc_ohc=xJFOhpyZ1w4AX-gOuV-&_nc_ht=scontent.fosl1-1.fna&oh=d8eb7bc64feb9f69ff3ce2d85354dcf7&oe=5ED9A343">
    <meta name="description" content="An all-day event, full of inspirational, technical and practical workshops.">
    <meta name="author" content="Marina Goto, marina.webdev@gmail.com">


    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Header / Home-->
<header class="page black">
    <div class="flexWorkshop full-height">
        <div class="half pink">
            <div class="level">
                <p class="circle">Beginner</p>
            </div>
            <h4 class="titleWorkshop">“Intro to Natural Language Processing and Topic Modelling with spaCy”</h4>
            <p>
                Ability of computers to understand human speech and written text is an important and complex AI task. In this workshop you will learn how to tackle Natural Language Processing problems where instead of numbers, text is an input to the algorithm.
            </p>
            <p>
                We will cover challenges from a linguistic perspective and we will go step-by-step through data preprocessing stages of text mining. In the end we will get a soft intro to Latent Dirichlet Allocation - a popular topic modelling algorithm.
            </p>
            <div class="requirements">
                <p>
                    Requirements:
                </p>
                <ol>
                    <li>Laptop & charger</li>
                    <li>Download and install Anaconda from <a class="underline" href="https://www.anaconda.com/distribution/">anaconda.com</a></li>
                    <li>Download “Reviews.csv” from <a class="underline" href="https://www.kaggle.com/snap/amazon-fine-food-reviews">kaggle.com</a></li>
                </ol>
            </div>
            <p>Duration 11:30 - 14:00</p>

        </div>
        <div class="half black">
            <div class="speakerBox">
                <a href="https://www.linkedin.com/in/maja-zofia-kiszka/" class="bigName">Maja </br> Kisszka</a>
                <div class="speakerImg maja"></div>
            </div>
         <p>
                Maja is an Application Consultant working in the Artificial Intelligence department of Capgemini. In her work she focuses on tasks related to Natural Language Processing. Her background is in Linguistics and Computer Science and she previously worked with IBM and StartupLab.
            </p>
        </div>
    </div>
</header>

</body>
</html>
