<!DOCTYPE html>
<html>
<head>
    <title>Hands on Design thinking</title>
    <meta property="og:title" content="Women in Tech Oslo Summit">
    <meta property="og:image" content="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/80030133_2523998837832392_6297456528874012672_o.jpg?_nc_cat=101&_nc_ohc=xJFOhpyZ1w4AX-gOuV-&_nc_ht=scontent.fosl1-1.fna&oh=d8eb7bc64feb9f69ff3ce2d85354dcf7&oe=5ED9A343">
    <meta name="description" content="An all-day event, full of inspirational, technical and practical workshops.">
    <meta name="author" content="Code: Marina Goto, marina.webdev@gmail.com | Design: Marion Murvine, https://dribbble.com/MARIONMURVINE">


    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="32x32" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <link rel="icon" type="image/png" sizes="16x16" href="https://scontent.fosl1-1.fna.fbcdn.net/v/t1.0-9/78929016_2519392494959693_3736017211261714432_n.png?_nc_cat=105&_nc_ohc=yclNDbAm8qUAX_1Sj63&_nc_ht=scontent.fosl1-1.fna&oh=d4d3a4caa17f92abc626342e4d5813c9&oe=5ED419D5">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157913483-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157913483-1');
    </script>

</head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<!-- Header / Home-->
<header class="page black">
    <div class="flexWorkshop full-height">
        <div class="half pink">
            <div class="level">
                <p class="circle">Beginner to intermediate</p>
            </div>
            <h4 class="titleWorkshop">“Hands on Design thinking”</h4>
            <p>
                Get to know the methodology and how to apply that to working tasks. We will go through 5 steps of Design Thinking Empathize - Define - Ideate - Prototype - Test and present our works.
            </p>
            <p>
                In Part Two of the Design Track, you’ll explore the methodology of design thinking with Alina. This covers 5 steps: Empathy, Define, Ideate, Prototype and Test. The hands on design thinking workshop will leave you with a finished product.
            </p>

            <div class="requirements">
                <p>
                    Requirements:
                </p>
                <ol>
                    <li>Bring your laptop with Powerpoint/Keynote/Figma and creativity!</li>
                    <li>Paper, pens-pencils</li>
                    <li>No knowledge pre-required</li>
                </ol>
            </div>
            <p>Duration 15:00 - 17:00</p>

        </div>
        <div class="half black padding-bottom">

            <p>Agenda:</p>
            <ol>
                <li>Intro and overview | Introduce the goals and plan for the workshop, conduct exercises and set the creativity mood!
                </li>
                <li>Design thinking Concept | An introduction and overview to the Design Thinking approach, introduce the challenge for the workshop
                </li>
                <li>Empathy | Practice interviewing skills. On this step we are going to share insights and create Empathy Map
                </li>
                <li>Define | Define phase concepts and frame problem to be able to develop problem-statements
                </li>
                <li>Ideation | In-depth session on Ideation phase. Brainstorming session related to our mission, synthesis of generated ideas
                </li>
                <li>Prototype/testing | On this step we are going to take the best ideas and make into something tangible to share, review with potential end-users for feedback, revise and iterate as needed
                </li>
                <li>Presentations | Share potential solutions and discuss findings, review presentation and storytelling skills, create final presentations
                </li>
                <li>Wrap-up | Reflect on what we have learned: discuss plans for using Design Thinking at work
                </li>
            </ol>
        </div>
    </div>
</header>

</body>
</html>
