// Global variables
@import 'styles/functions/index';
@import 'styles/variables/index';

@import 'styles/typography';

body, html {
  height: 100%;
  margin: 0;
}
h2 {
  font-size: rem(70px);
  @include laptop {
    font-size: rem(50px);
  }
}
.sectionTitle {
  margin-bottom: calc(131 / 1331 * 100%);
}

p {
  line-height: 2
}
.page {
  position: relative;
  min-height: 100%;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  @include tabletLandscape {
    min-height: unset;
    max-height: none;
  }
}
.expandable{
  min-height: auto;
  max-height: none;
}
.expandable{
  min-height: auto;
  max-height: none;
}
.full-width{
 width: 100vw;
}
.container-padding {
  padding: 5%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  ul {
    color: #ffffff;
    list-style-type: none;
  }
}
.unity-container {
  margin: 0 20%;
  @include tabletLandscape {
    margin: 5%;
  }
}
.nav {
  bottom: 0;
  position: absolute;
  z-index: 1;
  margin: 5%;

  a {
    color: #ffffff;
  }
  @include tabletLandscape {
    display: none;
  }
}
.flex {
  display: flex;
  @include tabletLandscape {
    flex-direction: column;
  }
}
.flex-direction-column {
  flex-direction: column;
}

.speaker-padding{
  padding: 5%;
}

.half {
  width: 50%;
  padding: 5%;
  @include tabletLandscape {
    width: auto;
  }
}

.note {
  padding-top: calc(113 / 1331 * 100%);
}

.program-table {
  padding: 5% 0;
}
.raw {
  display: flex;
  flex-direction: row;
  padding: 3% 0;
  @include laptop {
    padding: 1.5% 0;
  }
}
.small-padding{
  padding: 0.5% 0;
}
.cell {
  padding-right: rem(220px);
  @include tabletLandscape {
    padding-right: rem(180px);
  }
}


// banner
.banner {
  font-family: Helvetica, sans-serif;
  color: #7938DF;
  h2 {
    font-size: rem(70px);

    @include tabletLandscape {
      font-size: rem(40px);
    }
  }
}
.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}






// background color
.orange {
  background-color: #F0603C;
  color: white;
}
.black {
  background-color: black;
}
.pink {
  background-color: #CD7DAD;
}
.orange{
  background-color: #F0603C;
}
.violet {
  background-color: #7938DF;
}


// images

.unity-img {
  width: 90%;
  max-height: 60vh;
  @include tabletLandscape {
    width: 100%;
  }
}


// Images

.img {
  width: 98%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.team {
  background-image: url('images/team.png');
}
.volunteer {
  background-image: url('images/mariana.png');
}



// collapse

.menu-content {
  text-align: center;
}
.collapsible-menu {
  color: white;
}
.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu li {
  display: block;
  width: 100%;
  padding: 10px;
}
.collapsible-menu li:hover {
  cursor: pointer;
}
.collapsible-menu label {
  display: block;
  cursor: pointer;
}


input{
  display: none;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in;
}
input:checked ~ .menu-content {
  max-height: 100vh;
  width: 70vw;
}

input#main:checked + label#mainLabel:after{
  content: "▼";
}
label#mainLabel:after{
  content:'►';
}

