// Global variables
@import 'styles/functions/index';
@import 'styles/variables/index';

@import 'styles/typography';

body, html {
  height: 100%;
  margin: 0;
}
h2 {
  font-size: rem(70px);
  @include laptop {
    font-size: rem(50px);
  }
}
.sectionTitle {
  margin-bottom: calc(131 / 1331 * 100%);
}

p {
  line-height: 2
}

.italic{
  font-style: italic;
}




.page {
  position: relative;
  min-height: 100%;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  @include tabletLandscape {
    min-height: unset;
    max-height: none;
  }
}
.expandable{
  min-height: auto;
  max-height: none;
}
.expandable{
  min-height: auto;
  max-height: none;
}
.full-width{
 width: 100vw;
}
.container-padding {
  padding: 5%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  ul {
    color: #ffffff;
    list-style-type: none;
  }
}
.unity-container {
  margin: 0 20%;
  @include tabletLandscape {
    margin: 5%;
  }
}
.nav {
  bottom: 0;
  position: absolute;
  z-index: 1;
  margin: 5%;

  a {
    color: #ffffff;
  }
  @include tabletLandscape {
    display: none;
  }
}
.flex {
  display: flex;
  @include tabletLandscape {
    flex-direction: column;
  }
}
.flex-direction-column {
  flex-direction: column;
}

.speaker-padding{
  padding: 5%;
}

.half {
  width: 50%;
  padding: 5%;
  @include tabletLandscape {
    width: auto;
  }
}

.note {
  padding-top: calc(113 / 1331 * 100%);
}

.program-table {
  padding: 5% 0;
}
.raw {
  display: flex;
  flex-direction: row;
  padding: 3% 0;
  @include laptop {
    padding: 1.5% 0;
  }
}
.small-padding{
  padding: 0.5% 0;
}
.zero-padding{
  padding: 0;
}

.cell {
  padding-right: rem(220px);
  @include tabletLandscape {
    padding-right: rem(180px);
  }
}
.border {
  border-top: 0.1px solid white;
  border-bottom: 0.1px solid white;
  padding-top: calc(32 / 1331 * 100%);
  margin-top: calc(32 / 1331 * 100%);
  margin-bottom: calc(32 / 1331 * 100%);
}


// banner
.banner {
  font-family: Helvetica, sans-serif;
  color: #7938DF;
  h2 {
    font-size: rem(70px);

    @include tabletLandscape {
      font-size: rem(40px);
    }
  }
}
.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}






// background color
.orange {
  background-color: #F0603C;
  color: white;
}
.black {
  background-color: black;
}
.pink {
  background-color: #CD7DAD;
}
.orange{
  background-color: #F0603C;
}
.violet {
  background-color: #7938DF;
}


// Images

.unity-img {
  width: 90%;
  max-height: 60vh;
  @include tabletLandscape {
    width: 100%;
  }
}

.img {
  width: 98%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.team {
  background-image: url('images/team.png');
}
.volunteer {
  background-image: url('images/mariana.png');
}
.maja {
  background-image: url('images/speakers/maja.png');
  width: 60%;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



// collapse
input{
  display: none;
}
.menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in;
}
input:checked ~ .menu-content {
  max-height: 1000vh;
}

input#mod1:checked + label#mod1Label:after{
  content: "▼";
}
label#mod1Label:after{
  content:'►';
}
input#mod2:checked + label#mod2Label:after{
  content: "▼";
}
label#mod2Label:after{
  content:'►';
}
.track {
  line-height: rem(40px);
}
.track:hover {
  text-decoration: underline;
}
.track-padding {
  padding-top: rem(30px);
}


.track-box {
  font-size: rem(25px);
  line-height: rem(55px);
  justify-content: space-around;
  width: 65vw;


  @include laptop {
    font-size: rem(16px);
    line-height: rem(22px);
  }

  .left{
    width: 50%;
    padding: 5%;

  }
  .right{
    width: 50%;
    padding: 5%;

  }

  .level {
    text-align: right;
  }
  .workshopTitle {
    font-size: rem(40px);
    line-height: rem(58px);
    text-decoration: underline;
    padding-top: rem(50px);
    padding-bottom: 14%;
    @include laptop {
      font-size: rem(22px);
      line-height: rem(34px);
    }
  }

  .speakerNameSmall {
    padding-bottom: 5%;
  }

  .req {
    font-size: rem(16px);
    padding-top: 6%;
  }

  .speaker-box {
    display: flex;
  }

  .speakerName {
    font-size: rem(150px);
    line-height: rem(180px);
    text-decoration: underline;
    @include laptop {
      font-size: rem(55px);
      line-height: rem(80px);
    }
  }
}


